<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fd3s.framedata3s" >

    android:allowBackup="true"
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SelectScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".moves.ShowDataCategoriesActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.normals.ShowNormalsActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.normals.ShowNormalDetailActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.specials.ShowSpecialsActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.specials.ShowSpecialsDetailActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.supers.ShowSupersActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.supers.ShowSuperDetailActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.others.ShowOthersActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.gjnormals.ShowGeneiJinNormalsActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.gjnormals.ShowGeneiJinNormalDetailActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.gjspecials.ShowGeneiJinSpecialsActivity"
            android:label="@string/title_activity_character" >
        </activity>
        <activity
            android:name=".moves.gjspecials.ShowGeneiJinSpecialsDetailActivity"
            android:label="@string/title_activity_character" >
        </activity>
    </application>

</manifest>
